{% extends 'base.html' %}

{% load staticfiles %}

{% block title_block %}
    Pitchy
{% endblock %}

{% block body_block %}

<link href="{% static 'css/custom.css' %}" rel="stylesheet">

<div class="crop-container">
  <img src="{% static 'images/neutral-milk-hotel.jpg' %}" alt="index image">
  <img src="{% static 'images/animal-collective.jpg' %}" alt="index image">
  <img src="{% static 'images/bjork.png' %}" alt="index image">
  <img src="{% static 'images/bon-iver.jpg' %}" alt="index image">
  <img src="{% static 'images/burial.png' %}" alt="index image">
  <img src="{% static 'images/girls.jpg' %}" alt="index image">
  <img src="{% static 'images/american-football.png' %}" alt="index image">
  <img src="{% static 'images/japandroids.png' %}" alt="index image">
  <img src="{% static 'images/iceage.png' %}" alt="index image">

</div>


{% endblock %}

